.PageError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
}

.PageError__img {
  width: 30%;
}
